{% extends '_layouts/base.njk' %}

{% block page_title %} {{ members.name}} {% endblock %}
{% block content %}
<article class="container">
  <div class="row">
    <div id="member" class="col-sm-4 left-rail">
    <img class="img-fluid" src={{ members.imagebw}} >
    <p> {{ members.instruments}} </p> <p> Years Active: {{ members.tenure}}</p>
    <p class="birthdate"> Birthdate: {{ members.birthdate }} <p>
    </div>
    <div id="bio" class="col-sm-8">
      <h1> {{ members.name }} </h1>
      <h5> {{ members.birthplace }}</h5>
      <p> {{ members.text | safe}} </p>
    </div>
  </div>
</article>
{% endblock %}
