{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}
{% block content %}

<div class="container">
  <div id="text" class="row">
    <div class="col">
    <h1>Welcome to Queen's Landing</h1>
    <p class="author">By James Treuthardt</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Queen's Landing truly exists as the landing page for all things Queen. From band bios to soundtracts, this is your one-stop shop for Queen. </p>

        <p> "Few bands embodied the pure excess of the '70s like Queen. Embracing the exaggerated pomp of prog rock and heavy metal, as well as vaudevillian music hall, the British quartet delved deeply into camp and bombast, creating a huge, mock-operatic sound with layered guitars and overdubbed vocals. Queen's music was a bizarre yet highly accessible fusion of the macho and the fey. For years, their albums boasted the motto "no synthesizers were used on this record," signaling their allegiance with the legions of post-Led Zeppelin hard rock bands. But vocalist Freddie Mercury brought an extravagant sense of camp to Queen, pushing them toward kitschy humor and pseudo-classical arrangements, as epitomized on their best-known song, "Bohemian Rhapsody." - Source:<a href=https://www.allmusic.com/artist/queen-mn0000858827/biography > AllMusic </a></p>
      </p>
    </div>
  </div>
  {% include "_partials/membercards.njk" %}
  {% include "_partials/carousel.njk" %}
  {% include "_partials/footer.njk" %}
</div>
{% endblock %}
