<div class = "row">
<ul class="list-unstyled">
{% for discography in data.discography %}
  <li class="col-sm-12">
    <img class="img-fluid" src="img/discs/{{ discography.image }}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"> {{ discography.title }} </h5>
        {{ discography.year}}
    </div>
  </li>
{% endfor %}
</ul>
</div>

