<section>
  <div class="row">
    <div class="col-sm-3 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Blackbeard</h5>
          <p class="card-text">Edward Teach was an English pirate who operated around the West Indies.</p>
          <a href="https://en.wikipedia.org/wiki/Blackbeard" class="card-link">Teach tidbits</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Henry Morgan</h5>
          <p class="card-text">A Welsh privateer, landowner and Lieutenant Governor of Jamaica.</p>
          <a href="https://en.wikipedia.org/wiki/Henry_Morgan" class="card-link">S'more Sir Henry</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Anne Bonny</h5>
          <p class="card-text">An Irish pirate operating in the Caribbean in the early 1700s.</p>
          <a href="https://en.wikipedia.org/wiki/Anne_Bonny" class="card-link">Bonny bounty</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-lg-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Anne Bonny</h5>
          <p class="card-text">An Irish pirate operating in the Caribbean in the early 1700s.</p>
          <a href="https://en.wikipedia.org/wiki/Anne_Bonny" class="card-link">Bonny bounty</a>
        </div>
      </div>
    </div>
  </div>
</section>