.member-section {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: #A6607c;
  padding: 10px;
  text-align: center;
}

.card-body h5 {
  font-size: 90%;
  font-family: 'Merriweather', serif;
}

.card-body p {
  font-size:10px;
  font-family: 'Merriweather', serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  margin-bottom: 10px;
}
