#bio {
  background-color: #A6607c;
  padding-top: 5px;
  padding-left: 20px;
}

#bio h1 {
  font-family: 'Dancing Script', cursive;
  color: white;
}

#bio h5 {
  font-family: 'Merriweather', serif;
  color: white;
}

#bio p {
  font-family: 'Merriweather', serif;
  color: white;
}

#member p {
  font-family: 'Merriweather', serif;
}
