.discography {
  background-color: #A6607c;
}

.disc-section {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: white;
  padding: 10px;
  text-align: center;
}


#carousel {
  max-width: 100%;
  min-width: 100%;
  max-height: 10%;
  min-height: 5%;
  padding: 20px;
  position: relative;
  bottom: 25px;
}

.carousel-caption {
  max-width: 100%;
  width: 100%;
  left: 0;
  color: white;
}

.bg-dark {
  max-height: 10%;
}

.albums {
  font-size: 25px;
  color: black;
  position: relative;
}
