.discography {
  background-color: #A6607c;
}

.disc-section {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: white;
  padding: 10px;
  text-align: center;
}


#carousel {
  max-width: 50%;
  min-width: 10%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  color: #A6607c;
}
